<!DOCTYPE html>
<html>
  <head>
    <title>Chef's Attic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="logo">Chef's Attic</div>
      <ul class="nav-links">
        <li><%= link_to 'Home', root_path%></li>
        <li><a href="#" class="nav-link">Entree</a></li>
        <li><a href="#" class="nav-link">Main</a></li>
        <li><a href="#" class="nav-link">Desserts</a></li>
        <li><a href="#" class="nav-link">Drinks</a></li>
      </ul>
      <% if user_signed_in?%>
        <p><%= current_user.name%></p>
        <p><%= link_to 'Logout', '/logout'%></p>
      <% else %>
      <div class="Login">
        <%= link_to 'Register', new_user_path%>
        <%= link_to 'Login', login_path%>
      </div>
    <%end %>
    </nav>
    <%= yield %>
  </body>
</html>
