<!DOCTYPE html>
<html>
  <head>
    <title>Chef's Attic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta
      property="og:image"
      content=""
    />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <%= render 'layouts/navbar'%>
    </header>
    <main class="main">
      <%= display_error_and_success %>
      <%= yield %>
    </main>
    <footer class="footer">
      <%= render 'layouts/footer'%>
    </footer>
  </body>
</html>
